<div class="container">
    <div class="row panel panel-primary container">
        <div class="row">
            <h1 class=" col-md-offset-4 col-md-8"><span class="glyphicon glyphicon-time"></span>   Controle de horas</h1>
        </div>
        <div class="row">
            <div class=" col-md-offset-8 col-md-3" style="font-size: 1em; text-align: right;">Bem vindo {{logado.nome}} {{logado.sobrenome}}!</div>
            <button ng-click="sair()" style="max-width: 6em; min-width: 2em; min-height: 1.7em" type="button" class="btn btn-danger btn-default btn-xs">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </button>
            <br>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group col-md-offset-1">
                    <span class="input-group-addon"><span class='glyphicon glyphicon-search'></span></span>
                    <input type="text" class="form-control" ng-model="empresaFiltro.nome">
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-primary">
            <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">Semana</th>
                <th class="text-center">Dia</th>
                <th class="text-center">Hora de entrada</th>
                <th class="text-center">Hora de saída</th>
                <th class="text-center">Anotações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dia in dias">
                <td align="center">
                    {{dia.nome}}
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="row" style="margin-left: 1em">
            <button ng-click="trocaRota('home')" style="max-width: 5em;" type="button" class=" btn btn-primary btn-default btn-lg">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </button>
            <button ng-click="trocaRota('entidades')" style="max-width: 5em;" type="button" class=" btn btn-primary btn-default btn-lg">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
            <img style="width: 30em;" class="col-md-offset-7 col-md-2" src="../../imagens/CDHicon.png">
        </div>
    </div>
</div>