<div class="container">
    <div class="row panel panel-primary container">
        <div class="row">
            <h1 class=" col-md-offset-4 col-md-8"><span class="glyphicon glyphicon-time"></span>   Controle de horas</h1>
        </div>
        <div class="row">
            <div class=" col-md-offset-8 col-md-3" style="font-size: 1em; text-align: right;">Bem vindo {{logado.nome}} {{logado.sobrenome}}!</div>
            <button ng-click="sair()" style="max-width: 6em; min-width: 2em; min-height: 1.7em" type="button" class="btn btn-danger btn-default btn-xs">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </button>
            <br>
        </div>
        <div class="row">
            <div class="col-md-1" ng-show="ehroot">
                <label class="control-label">Colaborador:</label>
                <select name="userCombo" id="userCombo" ng-model="relatorio.usuario">
                    <option ng-repeat="usuario in usuarios" value="{{usuario}}">{{usuario.nome}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <label class="control-label">Mês:</label>
                <select name="mesCombo" id="mesCombo" ng-model="relatorio.mes" >
                    <option ng-repeat="mes in meses" value="{{mes}}">{{mes}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <label class="control-label">Ano:</label>
                <input type="text" class="form-control" ng-model="relatorio.ano" name="ano"  mask="9999" placeholder="2020">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default btn-primary btn-lg" ng-click="buscarrelatorio()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
                </button>

            </div>
            <div class="">
                <button class="btn btn-default btn-success btn-lg" ng-if="!naotemrelatorio" ng-json-export-excel data="relatorioretornado"
                        report-fields="{dia: 'Dia', horaentrada: 'Horário de entrada', horasaida: 'Horário de saída', horatrabalhada: 'Horas trabalhadas'}"
                        filename=" 'Relatório de Horas - ' + mostrausuario + ' - ' + relatorio.mes + ' ' + relatorio.ano">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true" ></span>
                </button>
            </div>
        </div>
        <br>
        <div class="panel panel-primary" style="height:45em; line-height:3em;overflow:auto;padding:5px;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <label>Colaborador: {{mostrausuario}}</label>
                </tr>
                <tr>
                    <th class="text-center">Dia</th>
                    <th class="text-center">Hora de entrada</th>
                    <th class="text-center">Hora de saída</th>
                    <th class="text-center">Horas trabalhadas</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="relat in relatorioretornado">
                    <td align="center">
                        {{relat.dia}}
                    </td>
                    <td align="center">
                        {{relat.horaentrada}}
                    </td>
                    <td align="center">
                        {{relat.horasaida}}
                    </td>
                    <td align="center">
                        <span ng-if="!relat.horasaida">Incompleto</span>
                        <span ng-if="relat.horasaida">{{relat.horatrabalhada}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-left: 1em" >
            <button ng-click="trocaRota('home')" style="max-width: 5em;" type="button" class=" btn btn-primary btn-default btn-lg">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </button>
                <button ng-if="ehroot" ng-click="trocaRota('entidades')" style="max-width: 5em;" type="button" class=" btn btn-primary btn-default btn-lg">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
            <img style="width: 30em;" class="col-md-offset-7 col-md-2" src="../../imagens/CDHicon.png">
        </div>
    </div>
</div>

<!--MODAL CONFIRMAÇÃO-->
<div id="confirmacao" class="modal fade" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content" style="background-color:#e3f2fd; border-style: solid; border-color:black;">
            <div class="modal-header">
                <h4 class="modal-title text-center">Confirmação de saída</h4>
            </div>
            <div class="modal-body text-center">
                <div ng-if="!possuinovaprevisao"><p>Você sairá às {{saidashow}}?</p></div>
                <div ng-if="possuinovaprevisao"><p>Você sairá às {{novaprevisaoshow}}?</p></div>
                <p><button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#Sim" data-dismiss="modal">Sim</button>
                    <button type="button" class="btn btn-default btn-danger" data-toggle="modal" data-target="#Nao" data-dismiss="modal">Não</button></p>
            </div>
        </div>
    </div>
</div>
<!--MODAL NAO-->
<div id="Nao" class="modal fade" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content" style="background-color:#e3f2fd; border-style: solid; border-color:black;">
            <div class="modal-header">
                <h4 class="modal-title text-center">Confirmação de saída</h4>
            </div>
            <div class="modal-body text-center">
                <p>Novo horário de saída:
                    <input type="time" style="max-width: 8em" ng-model="novaprevisao">
                    <button type="button" style="width: 2.5em; height: 2.2em;" class="btn btn-default btn-primary btn-xs close" data-dismiss="modal" ng-click="atualizaprevisao()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </p>

            </div>
        </div>
    </div>
</div>
<!--MODAL SIM-->
<div id="Sim" class="modal fade" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content" style="background-color:green; border-style: solid; border-color:black;">
            <div class="modal-body text-center">
                <p>Horário salvo. Até amanhã!
                    <button type="button" style="width: 2.5em; height: 2.2em;" class="btn btn-default btn-primary btn-xs close" data-dismiss="modal" ng-click="sair()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>