<!--MODAL ALTERAR SENHA-->
<div class="modal-dialog">
    <div class="modal-content" style="background-color:#e3f2fd; border-style: solid; border-color:#2b669a;">
        <div class="modal-header" style="background-color: #2b669a">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Alterar senha</h2>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-1 col-md-4">
                        <label>Senha antiga:</label>
                        <input type="password" class="form-control" ng-change="validasenhaantiga()" ng-model="logado.senhaantiga"  required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-4">
                        <label>Nova senha:</label>
                        <input type="password" class="form-control" ng-model="logado.novasenha" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-4">
                        <label>Confirma nova senha: </label>
                        <input type="password" class="form-control" ng-change="validasenhadois()" ng-model="logado.novasenha1"  required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-offset-1 col-md-4">
                        <button type="button" class="btn btn-default btn-success" data-dismiss="modal" ng-click="trocasenha()">Confirmar nova senha</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
