<div class="modal-dialog">
    <div class="modal-content" style="background-color:indianred; border-style: solid; border-color:black;">
        <div class="modal-dialog">
            <h4 class="modal-title" style="text-align: center">Senha antiga inválida!</h4>
            <button type="button" style="width: 2.5em; height: 2.2em;" class="btn btn-default btn-primary btn-xs close" data-target="#alterarSenha" data-toggle="modal" data-dismiss="modal" >
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <br>
        </div>
    </div>
</div>